/* a=0 b=0 c=2 -> Especificidad = 2 */
header nav {
    background-color: black;
    position: relative;
    z-index: 1;
}

/* a=0 b=0 c=2 -> Especificidad = 2 */
header li {
    background-color: black;
    min-width: 140px;
    text-align: center;
}

/* a=0 b=0 c=2 -> Especificidad = 2 */
header ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* a=0 b=0 c=2 -> Especificidad = 2 */
header a {
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

/* a=0 b=0 c=3 -> Especificidad =  */
header a:hover {
    background-color: #434343;
}

/* a=0 b=0 c=3 -> Especificidad = 3 */
header li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

/* a=0 b=0 c=4 -> Especificidad = 4 */
header li:hover > ul {
    display: block;
}

/* a=0 b=0 c=4 -> Especificidad = 4 */
header li ul li {
    position: relative;
}

/* a=0 b=0 c=5 -> Especificidad = 5 */
header li ul li ul {
    left: 140px;
    top: 0;
}