/* a=0 b=0 c=1 -> Especificidad = 1 */
body {
    font-family: 'Ubuntu', sans-serif;
}

/* a=0 b=0 c=2 -> Especificidad = 2 */
body main {
    padding: 0 3%;
}

/* a=0 b=0 c=2 -> Especificidad = 2 */
main dt {
    font-style: italic;
    padding: 0.25em;
    text-decoration: underline;
}

/* a=0 b=0 c=2 -> Especificidad = 2 */
main table {
    border-collapse: collapse;
    width: 100%;
}

/* a=0 b=0 c=3 -> Especificidad = 3 */
main th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* a=0 b=0 c=2 -> Especificidad = 2 */
main th {
    background-color: #4CAF50;
}

/* a=0 b=0 c=3 -> Especificidad = 3 */
main tr:nth-child(2n) {
    background-color: #f2f2f2;
}

/* a=0 b=0 c=1 -> Especificidad = 1 */
video {
    width: 320px;
}